body {
  height: 100%;
  background: linear-gradient(rgb(39, 43, 48), rgba(39, 43, 48, 0.5)),
    url(img/bitcoin\ back\ rotate.png);
  /* background-size: 110px; */
  background-position: left;
  background-size: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.coin-desc {
  display: none;
}

input {
  cursor: pointer;
}

hr {
  border: 2px solid rgb(170, 170, 170);
}

#chartContainer {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}

.canvasjs-chart-container {
  /* width: 100% !important; */
}

canvas {
  width: 100%;
  position: relative;
}
